/venv/pyvenv.cfg
/venv/Scripts/_asyncio.pyd
/venv/Scripts/_bz2.pyd
/venv/Scripts/_ctypes.pyd
/venv/Scripts/_ctypes_test.pyd
/venv/Scripts/_decimal.pyd
/venv/Scripts/_distutils_findvs.pyd
/venv/Scripts/_elementtree.pyd
/venv/Scripts/_hashlib.pyd
/venv/Scripts/_lzma.pyd
/venv/Scripts/_msi.pyd
/venv/Scripts/_multiprocessing.pyd
/venv/Scripts/_overlapped.pyd
/venv/Scripts/_socket.pyd
/venv/Scripts/_sqlite3.pyd
/venv/Scripts/_ssl.pyd
/venv/Scripts/_testbuffer.pyd
/venv/Scripts/_testcapi.pyd
/venv/Scripts/_testconsole.pyd
/venv/Scripts/_testimportmultiple.pyd
/venv/Scripts/_testmultiphase.pyd
/venv/Scripts/_tkinter.pyd
/venv/Scripts/activate
/venv/Scripts/activate.bat
/venv/Scripts/Activate.ps1
/venv/Scripts/deactivate.bat
/venv/Scripts/easy_install.exe
/venv/Scripts/easy_install.exe.manifest
/venv/Scripts/easy_install-3.6.exe
/venv/Scripts/easy_install-3.6.exe.manifest
/venv/Scripts/easy_install-3.6-script.py
/venv/Scripts/easy_install-script.py
/venv/Scripts/f2py.exe
/venv/Scripts/pip.exe
/venv/Scripts/pip.exe.manifest
/venv/Scripts/pip3.6.exe
/venv/Scripts/pip3.6.exe.manifest
/venv/Scripts/pip3.6-script.py
/venv/Scripts/pip3.exe
/venv/Scripts/pip3.exe.manifest
/venv/Scripts/pip3-script.py
/venv/Scripts/pip-script.py
/venv/Scripts/pyexpat.pyd
/venv/Scripts/python.exe
/venv/Scripts/python3.dll
/venv/Scripts/python36.dll
/venv/Scripts/pythonw.exe
/venv/Scripts/pip3.6.exe.manifest
/venv/Scripts/select.pyd
/venv/Scripts/sqlite3.dll
/venv/Scripts/tcl86t.dll
/venv/Scripts/tk86t.dll
/venv/Scripts/unicodedata.pyd
/venv/Scripts/vcruntime140.dll
/venv/Scripts/winsound.pyd
/venv/Include/
/venv/Lib/
